

body { 
    margin: 0;
    padding: 0;
    font-family: cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}


.conn{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.conn .box{
    position: relative;
    width: 270px;
    padding: 40px;
    background: #fff;
    box-shadow: 0 5px 15px rgba(0,0,0,.1);
    border-radius: 4px;
    margin: 20px;
    box-sizing: border-box;
    overflow: hidden;
    text-align: center;
}


.conn .box:before{
    content: '';
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(255, 255 ,255, .2);
    z-index: 2;
    pointer-events: none;
}



@media only screen and (max-width: 960px){
    .conn .box{
        text-align: center !important;
        margin-left: 110px !important;

    }
}


.conn .box .icon{
    position: relative;
    width: 80px;
    height: 80px;
    color: #fff !important;
    background: #000 ;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border-radius: 50%;
    font-size: 40px;
    font-weight: 700;
    transition: 1s ;
}

.conn .box:nth-child(1) .icon{
    box-shadow: 0 0 0 0 #e91e63;
    background: #e91e63;
}

.conn .box:nth-child(1):hover .icon{
    box-shadow: 0 0 0 400px #e91e63;
}


.conn .box:nth-child(2) .icon{
    box-shadow: 0 0 0 0 #23e629;
    background: #23e629;
}

.conn .box:nth-child(2):hover .icon{
    box-shadow: 0 0 0 400px #23e629;
    
}


.conn .box:nth-child(3) .icon{
    box-shadow: 0 0 0 0 #2196f3;
    background: #2196f3;
}

.conn .box:nth-child(3):hover .icon{
    box-shadow: 0 0 0 400px #2196f3;
}


.conn .box .content{
    position: relative;
    z-index: 1;
    transition: 0.5s;  
    
}

.conn .box:hover .content{
    color: #fff !important;

}

.conn .box .content h3{
    font-size: 20px !important; 
    margin: 10px !important;
    padding: 0 !important;
}

.conn .box .content p{
    margin: 0;
    padding: 0;

}


 .coon{
    display: inline-block !important;
    padding: 10px 20px !important;
    background: #fff !important;
    border-radius: 4px !important;
    text-decoration: none !important;
    color: #000 !important;
    font-weight: 500 !important;
    margin-top: 20px !important;
    box-shadow: 0 2px 5px rgba(0,0,0,.2) !important; 


}




.navbar{
    margin-bottom: 90px;
}

.navbar2{
    margin-top: 90px;
}

