*{
    margin: 0;
    padding: 0;
font-family: cursive;
}

.menu-bar{
    min-height: 8%;
    background: #ff9800;
}

.navbar-brand{
    font-family: cursive;
    font-weight: bolder;
    color: ivory;
}

.navbar-brand:hover{
    color: #000;
    
}



.nav-link{
    color: ivory;
    font-weight: 100;
    font-family: cursive;
}

.nav-link:hover{
    color: #000;
}

.active{
    color: #000 !important ;
}

.navbar-toggler .fa{
    color: ivory;

} 

.navbar-toggler{
    outline: none !important;
}




/*------ featured-categories----- */

.featured-categories{
    margin: 50px 0;

}

.featured-categories img{
    width: 100%;
    padding: 20px 0;
    transition:  1s;
    cursor: pointer;
}


.featured-categories img:hover{
    transform: scale(1.1);
}


/*on sale product */

.title-box
{
    background: #ff9800;
    color: #fff;
    width: 180px;
    padding: 4px  10px;
    height: 40px;
    margin-top: 30px ;
    margin-bottom: 30px;
    display: flex;
}

.title-box h2{
    font-size: 24px;
}

.title-box::after{
    content: '';
    border-top: 40px solid #ff9800;
    border-right: 50px solid transparent;
    position: absolute;
    display: flex;
    margin-top: -4px;
    margin-left: 170px;
}


/* product-top-css */

.product-top img{
    width: 100%;
}

.overlay-right{
    display: block;
    opacity: 0;
    position: absolute;
    top: 10%;
    margin-left: 0;
    width: 70px;

}

.overlay-right .fa{
    cursor: pointer;
    background-color: #fff;
    color: #000;
    height: 35px;
    width: 35px;
    font-size: 20px;
    padding: 7px;
    margin-top: 5%;
    margin-bottom: 5%;

}

.overlay-right .btn-secondary{
    background: none !important;
    border:  none !important;
    box-shadow: none !important;

    
}



.product-top:hover .overlay-right{
    opacity: 1;
    margin-left: 5%;
    transition: 0.5s;
}

/* product-bottom css */

.product-bottom .fa{
    color: #ff9800;
    font-size: 10px;

}

.product-bottom h3{
    font-size: 20px;
    font-weight: bold;

}

.product-bottom h5{
    font-size: 15px;
    padding-bottom: 10px;
}

.product-bottom h6{
    background: repeating-linear-gradient( #ff9800 ,#ff454f); 
    border: none;
    margin-bottom: 50px;

}

.product-bottom h6:hover{
    background: linear-gradient( #ff454f, #ff9800 )!important;
    color: #000 !important;
}